<?xml version="1.0"?>
<configuration>
	<appSettings>	
		<!-- settings for UnhandledExceptionManager class -->
		<add key="UnhandledExceptionManager/EmailTo" value="yves.renders@smurfitkappa.be"/>
		<add key="UnhandledExceptionManager/ContactInfo" value="Ima Testguy at 123-555-1212"/>
		<add key="UnhandledExceptionManager/IgnoreDebug" value="False"/>
		<add key="UnhandledExceptionManager/LogToEventLog" value="True"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
